@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700| Exo:100,200,300,400,500,600,700');

/* Header */

.name {
    font-family: "Great Vibes", sans-serif;
    font-weight: 100;
    font-size: 98px;
    margin-top: 50px;
    color: #f1e7d7;

}

.name:hover {
    text-decoration: none;
    color: #f1e7d7;
}

.class {
    font-family: "Great Vibes", sans-serif;
    font-weight: 200;
    font-size: 58px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #f1e7d7;
}

.jumbotron {
    background: url("../images/piano2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    border-radius: 0;
}

/* Nav */

.nav-link {
    color: rgba(255, 255, 255, 0.8)!important;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.nav-link:hover {
    color: #caa229 !important;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.nav-item {
    font-family: 'Great Vibes', cursive;
    font-size: 35px;
    margin-right: 7px;
}

.btn-search {
    margin-top: 8px !important;
    color: #caa229 !important;
    background-color: transparent;
    background-image: none;
    border-color: #caa229 !important;
}

.btn-search:hover {
    color: #ffc107 !important;
    background-color: transparent;
    background-image: none;
    border-color: #ffc107 !important;
}

@media (min-width: 776px) {
    .btn-search {
        margin-top: 0px !important;
    }
}


/* Footer */

footer {
    background: url("../images/piano2.jpg");
    color: #fafafa;
    min-height: 120px;
    margin: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.social-text {
    font-family: "Great Vibes", sans-serif;
    font-weight: 200;
    font-size: 34px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #f1e7d7;
}

.social-links li a i {
    width: 75px;
    height: 75px;
    padding: 12px;
    border-radius: 50%;
    border-color: white;
    font-size: 45px;
    line-height: 45px;
    text-align: center;
    background-color: #f1e7d7;
    color: #333a41;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.social-links li a i:hover {
    background-color: #caa229;
    color: #333a41;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

/* Home - News */

.news-heading {
    font-family: "Great Vibes", sans-serif;
    font-size: 5em;
    margin-top: 5px;
    color: black;

}

.news-sub-heading {
    font-family: 'Courgette', cursive;

}

.newsimg {
    overflow: hidden;
    background-color: white;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: double;
    border-color: #caa229;
    border-width: 5px;

}

.newsimage img {
    width: 100%;
}

#newsimg-one {
    position: relative;
    top: -100px;
}

#newsimg-two {
    position: relative;
    top: -500px;
}

/* Home - Card */

.card {
    border-style: double;
    border-color: #caa229;
    border-width: 5px;
}

.card-title {
    font-family: courgette;
}

.card-img-top {
    border-bottom: 6px solid #caa229;
    border-width: 5px;
}

.btn-gold {
    color: #caa229 !important;
    background-color: transparent;
    background-image: none;
    border-color: #caa229 !important;
}

.btn-gold:hover {
    color: #ffc107 !important;
    background-color: transparent;
    background-image: none;
    border-color: #ffc107 !important;
}

/* About me */

.titles {
    font-family: "Courgette", sans-serif;
    font-weight: 200;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.inline-block {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}


.aboutme-img {
    overflow: hidden;
    background-color: white;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: double;
    border-color: #caa229;
    border-width: 5px;

}

#aboutme-img-one {
    background: url("../images/music.jpg");
}

#aboutme-img-two {
    background: url("../images/piano3.jpg");
}

#aboutme-img-three {
    background: url("../images/header.jpg");
}


.aboutme {
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
}

.aboutme h2 {
    font-family: 'Courgette', cursive;
    font-size: 35px;
}

.aboutmediv {
    margin-bottom: 25px;
}

.line {
    background: #caa229 center;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 2em;
    margin-top: 2em;
    width: 50em;
    height: 7px;
}

/* About me Timeline */

td {
    text-align: center;
    vertical-align: top;
    width: 200px;
    margin: 0;
    padding: 0;
    border: 0;
}

tr:nth-child(1) td {
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    border-bottom-color: #caa229;
    padding-bottom: 10px;
}

tr:nth-child(2) td {

    position: relative;
    top: -8px;
    font-weight: 500;
}

.vert-line {
    position: relative;
    left: 50%;
    width: 1px;
    border-left-color: #caa229;
    border-left-style: solid;
    border-left-width: 1.5px;
    height: 1rem;
}



/* Contact - form  */

.contact {
    margin-top: 25px;
    margin-bottom: 25px;
}

.contactform {
    margin: 0px auto;
    width: 750px;
    border: 7px double #caa229;
    border-radius: 5px;
    padding: 7px;
}

label {
    display: inline-block;
    width: 120px;
    text-align: center;
}

input,
textarea {
    font: 27px courgette;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid grey;
}

textarea {
    vertical-align: top;
    height: 5em;
}

.button {
    padding-left: 90px;
}

button {
    margin-top: 5px;
    margin-left: .5em;
}

/* Contact - Text  */

.contact-text {
    margin-left: 25px;
    margin-bottom: 50px;
}

.contact-heading {
    font-family: "Great Vibes", sans-serif;
    font-size: 50px;
    margin-top: 25px;
    color: black;

}

.sub-headings {
    font-family: courgette;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

td {
    text-align: center;
    vertical-align: top;
    width: 200px;
    margin: 0;
    padding: 0;
    border: 0;
}

tr:nth-child(1) td {
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    border-bottom-color: black;
    padding-bottom: 10px;
}

tr:nth-child(2) td {

    position: relative;
    top: -8px;
    font-weight: 500;
}

.vert-line {
    position: relative;
    left: 50%;
    width: 1px;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 1.5px;
    height: 1rem;
}

.timeline {
    margin-left: 50px;
}

.future-events {
    margin-top: 50px;
    margin-bottom: 50px;
}


.events {
    margin-bottom: 50px;
    margin-top: 50px;
}
